html,
body {
  padding: 0;
  margin: 0;
  background-color:   #0e1115;
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h2 {
  color: white;
}
a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.ValIcon{
  border-radius: 10px;
}
.NameContainer{
  color: #e2e4e9;
  margin-bottom: 16px;
}



input[type=checkbox] {
  padding: 0;
  display: block;
  width: auto;
  border: 0px;
}



input[type="checkbox"].switch_1{
	font-size: 14px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #0eff7a;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
  }


.LinkCollection form{
  background-color: #0e1115;
}
form{
  margin: auto;
  max-width: 460px;
  background-color: #2C3138;
  padding: 30px 15px 15px 10px;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
}

.ValContainer{
  min-height: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:auto;
  min-height:56px;
  background-color: #181b20;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1ch;
}

.ValProfileInfo{
  display: flex;
}
.ValName{
  color: #e2e4e9;
  font-size: 26px;
  font-weight: bold;
}
.ValTag{
  color: #b2b4b9;
}

.LinkContainer{
  width:100%;
  
  background-color: #181b20;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1ch;
}

.EditTextInputs{
  width: 90%;
}
.EditLinkOptionsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-end;
  margin-left: auto;
  padding-bottom: 10px;
}
.EditLinkContainer{
  display: flex;
  width:100%;
  padding: 10px 0px 0px 10px;
  background-color: #2C3138;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1ch;
}
.EditLinkCollectionActions{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}

#add{
  height: 32px;
  width: 64px;
  border-radius: 10px;

}

#save{
  border-radius: 10px;
}


.LinkItem{
  display: flex;
  justify-content: center;
  min-height:56px;
  width: 100%;
  margin-top: 2ch;
  font-size: 1.2em;
  color:#fff;
  text-decoration: none;
  align-items: center;

}

.NameContainer{
  text-align: center;

}
.LinkCollection{
  width: 100%;
  margin:auto;
}

form .submit{
  width: 40%;
  margin: auto;
  margin-top: 24px;
  
}
.registerError{
  color: #ef3b7d;
  font-size: 12px;
  margin-bottom: 12px;
}
label{
  color: white
}
.userSignup{
  display: flex;
}
#userSignupLabel {
  color: black;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  background-color: white;
  border: 1px solid white;
  padding: 10px 0px 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
.userSignup input{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 0px;
}
input:focus{
  outline:none;
}
input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}


.button{
  border-radius: 6px;
  display: inline-block;
  line-height: 3.3em;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: #181b20;
  font-weight: bold;
  min-width: 16em;

}