
@tailwind base;
@tailwind components;
@tailwind utilities;

html,


a {
  color: inherit;
}

* {
  box-sizing: border-box;
}




input[type=checkbox] {
  padding: 0;
  display: block;
  width: auto;
  border: 0px;
}



input[type="checkbox"].switch_1{
	font-size: 14px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #dddddd;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
  }



.LinkContainer{
  width:100%;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1ch;
}

.EditTextInputs{
  width: 90%;
}

.EditableLabel{
  background-color: inherit;
  color: inherit;
  padding: 10px 15px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.2em;
  border: 0px;
  outline: none;
}


.EditLinkOptionsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:flex-end;
  margin-left: auto;
  padding-bottom: 10px;
}
.EditLinkContainer{
  display: flex;
  width:100%;
  padding: 10px 0px 0px 10px;
  background-color: #f9bab3;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1ch;
}
.EditLinkCollectionActions{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
}


.EditLinkCollectionButton{
  font-size: x-large;
  border: 0;
   border-radius: 0px;
   background-color: #f4b9b4;
   width: 260px;
   padding-top: 0.5ch;
   padding-bottom: 0.5ch;
   border-radius: 4rem;
   color: inherit;
}

#add:hover{
  -webkit-filter: brightness(90%);
}
#save:hover{
  -webkit-filter: brightness(90%);
}


.LinkItem{
  display: flex;
  justify-content: center;
  min-height:56px;
  width: 100%;
  margin-top: 2ch;
  font-size: 1.2em;
  color:#fff;
  text-decoration: none;
  align-items: center;

}


.registerError{
  color: #ef3b7d;
  font-size: 12px;
  margin-bottom: 12px;
}
.userSignup{
  display: flex;
}
#userSignupLabel {
  color: black;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  background-color: white;
  border: 1px solid white;
  padding: 10px 0px 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}
.userSignup input{
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  outline:none;

  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 0px;
}


.button{
  border-radius: 6px;
  display: inline-block;
  line-height: 3.3em;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: #181b20;
  font-weight: bold;
  min-width: 16em;

}
.button:hover{
  background-color: #f9bab3;
}